<h2><a href="<%=sub_url(@post.sub)%>"><%=@post.sub.title%></a></h2>

<h1><%=@post.title%></h1>
<h3>posted by <a href="<%=user_url(@post.author)%>"><%=@post.author.username%></a></h3>
<br>

<img src="<%=@post.url%>" id="post_picture">
<a href="<%=@post.url%>">Link To</a>
<br>
<p><%=@post.content%></p>

<%if !current_user.nil? && current_user.id == @post.author_id || current_user.id == @post.sub.moderator_id %>
      <form action="<%=post_url(@post)%>/edit" method="get">
            <button>Edit</button>
      </form>
<%end%>

